.backgroung-login {
    background-image: url('../../../assets/background_social.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50% 100%;
    min-height: 100vh;
}

.main-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 80px 50px 0px 50px;
}

.title-login {
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-weight: bolder;
    text-align: center;
}

/* Media Queries */

@media (max-width: 768px) {
    .backgroung-login {
        background-image: none;
        padding: 20px;
    }

    .main-login {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .header-signup {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .second-seach-puzzle-button {
        width: 100%;
        margin-top: 10px;
    }

    .left-side-signup {
        padding: 20px;
    }

    .emailInput,
    .passwordInput {
        width: 100%;
    }

    .signUpButtonBlack {
        width: 180px;
        margin-top: 10px;
    }
}