/* Estilos para pantallas normales de PC */

@import url('https://fonts.googleapis.com/css?family=League+Spartan');
@import '/src/index.css';

* {
    margin: 0;
    font-family: "League Spartan", sans-serif;
    box-sizing: border-box;
}

.title-home {
    font-size: 50px;
    line-height: 1;
    padding-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-weight: bolder;
}

.p-home {
    font-size: 20px;
    line-height: 1;
    color: var(--text);
    padding-bottom: 20px;
}

/* Container for buttons signUp and SignIn */
.header-Home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 35px 100px 10px 10px;
    flex-wrap: wrap;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to top, #fae1e3 20%, #ffffff 30%);
    z-index: 1;
}

.main-home {
    flex: 1;
    /* Esto hace que main-home ocupe todo el espacio disponible, empujando el footer hacia abajo */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 100px;
}


.left-side-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.right-side-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-all-button {
    background-color: #131212;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    width: 190px;
    height: 45px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.see-all-button:hover {
    background-color: var(--salmon);
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1);
    color: black
}

/* Effect when the button is clicked */
.see-all-button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.logo-home {
    width: 80%;
}

.foo-ter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 13px;
    color: #8f8686;
}

/* Media Queries para Responsive Design */
@media only screen and (max-width: 480px) {

    .header-Home {
        justify-content: center;
        padding: 20px 10px;
    }

    .main-home {
        grid-template-columns: 1fr;
        /* Cambia el diseño de 2 columnas a 1 */
        padding: 20px 10px;
    }

    .left-side-home,
    .right-side-home {
        justify-content: center;
        text-align: center;
    }

    .title-home {
        font-size: 32px;
        padding: 10px 0;
    }

    .p-home {
        font-size: 16px;
    }

    .see-all-button {
        width: 150px;
        height: 40px;
        font-size: 18px;
    }

    .logo-home {
        width: 100%;
        /* Asegúrate de que la imagen no se salga de la pantalla */
        max-width: 300px;
        /* Puedes ajustar este valor según tus necesidades */
    }
}