/* Estilos para pantallas normales de PC */

@import url('https://fonts.googleapis.com/css?family=League+Spartan');

html,
body {
    font-family: "League+Spartan";
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.header-Home {
    text-align: right;
    padding: 20px 130px 20px 20px;
}

.mainHome {
    display: flex;
    margin: 20px;
}

.welcomeMessage {
    width: 50%;
    margin-left: 70px;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

.logo {
    margin-left: 40px;
    width: 87%;
    height: 87%;
}

p {
    font-size: 36px;
    margin-left: 15px;
    margin-top: 50px;
}

.ContainerLogo {
    align-content: center;
    width: 50%;
}

.seeallPuzzlesButton {
    background-color: #131212;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    width: 340px;
    margin-top: 50px;
    margin-left: 15px;
}

h4 {
    text-align: center;
}

/* Media query para dispositivos Samsung iPhone XR (aproximadamente) */
@media screen and (max-width: 414px) {
    .header-Home {
        margin: 5px 10px 0px 20px;
        padding-left: 55px;
    }

    .mainHome {
        flex-direction: column;
    }

    .ContainerLogo {
        width: 70%;
        margin-left: 0px;
        padding: 0%;
        text-align: left;
        align-items: center; /* Corrección: align-content a align-items */
    }

    .logo {
        margin-left: 5%;
    }

    .welcomeMessage {
        width: 100%;
        margin: 2px 2px 2px 0px;
        align-items: center;
    }

    h1 {
        font-size: 40px;
        margin-left: 0px;
    }

    p {
        font-size: 24px;
    }

    .seeallPuzzlesButton {
        font-size: 24px;
        width: 100%;
        margin-bottom: 0px;
        padding: 0%;
    }
}
