/* .headerProfile {
    display: flex;
} */
/* -------------------- PROFILE SECTION STYLES ----------------- */
.main-profile {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 60px;
    padding-left: 25%;
}

.profile-btn-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-div {
    display: flex;
    margin-left: 60%;
}

.profile-div {
    display: flex;
    justify-content: center;
}

.user-data-div {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 1rem;
}

.user-data-text p {
    font-size:larger;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 1rem;
}

/* ---------------------------BUTTON STYLES ------------------------------*/
/* Estilos comunes para botones */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px; /* Ancho común para botones */
    height: 50px; /* Altura común para botones */
    margin: 10px;
    gap: 0.625rem;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Estilos para botones específicos */
.search-puzzles-btn {
    background-color: #5BB5D9;
    width: 280px;
}

.search-puzzles-btn:hover {
    background-color: #F2955E;
    color: black;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.profile-positive-btn {
    background: #1C4259;
    color: white;
}

.profile-positive-btn:hover {
    background-color: #5BB5D9;
    color: black;
}

.close-request-btn {
    background: #F2955E;
    color: black;
}

.close-request-btn:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.withdraw-request-btn {
    width: 280px;
    background: #F2955E;
    color: black;
}

.withdraw-request-btn:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.add-puzzle-btn {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit;
}
/* ------------------- ICONS STYLES -------------------------------------*/
.icons-profile {
    height: 50px;
    width: 50px;
}

.icon-person {
    height: 130px;
    width: 130px;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------------------- REQUEST SECTION STYLES -------------------------*/
.requests {
    border-top: 0.5px solid #D95043;
    padding-top: 10px;
}

.title-section {
    font-weight: 800;
    font-size: 40px;
}