html,
body {
  font-family: "League Spartan", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to top, #fae1e3 20%, #ffffff 30%); */
}

#root {
  background: linear-gradient(to top, #fae1e3 20%, #ffffff 30%);
  min-height: 100vh;
}

.topDiv {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.imagelogo {
  width: 50px;
  height: 50px;
}

.left {
  width: 50%;
  position: relative; /* Añade posicionamiento relativo */
  z-index: 1;
}

.left {
  width: 50%;
}

.signUpHeader {
  width: 50%;
  margin: 20px;
  position: relative; /* Añade posicionamiento relativo */
  z-index: 1;
}

.mainSignup {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

.fullNameInput,
.ZipCodeInput,
.emailInput,
.phoneInput,
.passwordInput {
  width: 200px;
  border-radius: 20px;
  font-size: 25px;
  color: #131212;
  text-align: center;
  box-shadow: 1px 1px 7px #59343e inset;
  margin: 10px;
  width: 300px;
  height: 50px;
}

.signUpButtonBlack {
  background-color: #131212;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 25px;
  width: 200px;
  margin: 20px;
}

.rightSignup {
  width: 50%;
}

.imagenSignup {
  width: 100%;
  height: 100%;
}

/* Media query para dispositivos como iPhone XR (aproximadamente) */
@media screen and (max-width: 414px) {
  .topDiv {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
  }

  h1 {
    margin-left: 20px;
  }

  .left,
  .signUpHeader,
  .rightSignup {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .imagelogo {
    margin: 20px;
  }

  .mainSignup {
    text-align: left;
  }

  .fullNameInput,
  .ZipCodeInput,
  .emailInput,
  .phoneInput,
  .passwordInput {
    width: 70%;
    margin: 10px 0;
  }

  .signUpButtonBlack {
    width: 120%;
    margin: 17px 0;
  }
}

.imagenSignup {
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: 0;
  opacity: 0.4;
}


/* Media query para pantallas más anchas, como la vista horizontal */
@media screen and (min-width: 415px) {
  .topDiv {
    flex-direction: row; 
  }

  .left, .rightSignup {
    width: 50%;
  }

  h1 {
    margin: 5px 0px 10px 20px;
  }
  .left {
    position: relative;
    z-index: 1;
  }

  .rightSignup {
    position: relative;
    z-index: 1;
  }

  .imagenSignup {
    position: absolute;
    top: 0;
    right: 0; 
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }
}