.nav-bar-button {
  text-decoration: none; /* Elimina el subrayado predeterminado */
  padding: 8px 16px; /* Ajusta el relleno según tus preferencias */
  border: none; /* Elimina el borde */
  background-color: transparent; /* Establece el fondo transparente */
  color: black; /* Color del texto para botones sin fondo */
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-list ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
  font-size:x-large;
  align-content: center;
  column-gap: 2rem;
}

.nav-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}