:root {
  --yellow: #F2955E;
  --light-blue: #5BB5D9;
  --dark-blue: #1C4259;
  --salmon: #D9737B;
  --beige: #F2CA99;
  --light-beige: #FFF2EA;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}