.headerIndex {
    display: flex;
}

.containerImageLogo {
    width: 50%;
}

.containerButtons {
   text-align: right; 
   width: 50%;
}

.all{
    margin: 20px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

.searchZipCodeInput {
    padding-right: 40px; 
    border-radius: 20px;
    height: 30px;
    margin-right: 10px;
    }
.fa-search {
    cursor: pointer;

}

.containerInfPuzzle {
background-color: #FFF2EA;
align-items: center;
text-align: center;
width: 300px;
padding: 10px;
height: 300px;
margin: 15px;
}

.puzzle {
    width: 60%;
    margin: 5px;
    
}

.showMoreButton{
    background-color: #131212;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    width: 180px;  
}

 
  .showMoreindex {
    text-align: center;
  }