.header-logout {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}


.header-buttons-logout {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 140px;
}

.header-login-buttons-logout{
    margin-left: 25px; 
}

